*{
  color: black;
}

#flexPromo{
  width: 50%;
}

.elemPromo{
  margin-left: 40px;
}

marquee{
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  border: solid 5px #DDDDDD;
}

#Logo{
  margin:0px 30% 80px 30%;
  min-width: 200px;
  width: 25%;

}


#Niveau1 {
 display: flex;
 padding:0;
 margin:0;
 list-style-type:none;
 }

#Niveau1 li{
  background: #E0E0E0;
}

#Niveau1 > li{
    padding: 20px;
    font-size: 30px;
    width: 150px;
    border: solid 1px #606060;
}

.Niveau2 {
  list-style-type: none;
  padding: 0;
}

.Niveau2 li{
  padding-left: 0;
  text-decoration: none;
  min-width: 140px;
  width: 40%;
}
ul ul {
  display: none;
  position: absolute;

}

li:hover ul {
  margin-top: 20px;
  margin-left: -20px;
  display: flex;
  flex-wrap: wrap;
  width: 25%;
}

a:link{
  text-decoration: none;
}
