body{
  font-size: 2em;
  color: #333333;
  font-family: 'Lobster', cursive;
}

#BoutonValider{
  margin-left: 100px;
  width: 140px;
  font-size: 14px;
  font-weight: bold;
  background-color: #CCCCCC
}
