#Logo{
  margin:0px 30% 80px 30%;
  min-width: 200px;
  width: 25%;

}

body{
    font-size: 2em;
    color: #333333;
    font-family: 'Lobster', cursive;
}

#BoutonValider{
  margin-left: 100px;
  width: 140px;
  font-size: 14px;
  font-weight: bold;
  background-color: #CCCCCC
}

header img.logo_marque {
  width: 10%;
  display: block;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}

header {
  width: 100%;
  height: 15%;
  position: fixed;
  background-color: #E5E5E5;
  top: 0;
  left: 0;
  z-index: 5;
}

h1{
  padding-top: 160px;
}
