<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Le site</title>
    <link rel="stylesheet" href="style/style_accueil.css">
  </head>
  <body>
    <ul>
      <li>Femme</li>
      <li>Homme</li>
    </ul>
    <p>bordeau image qui défile</p>

    <h2>En ce moment</h2>
    <div id="flexPromo">
      <div class="elemPromo">
        <img src="" alt="">
        <p>Titre - prix avec reduc</p>
      </div>
      <div class="elemPromo">
        <img src="" alt="">
        <p>Titre - prix avec reduc</p>
      </div>
      <div class="elemPromo">
        <img src="" alt="">
        <p>Titre - prix avec reduc</p>
      </div>
      <div class="elemPromo">
        <img src="" alt="">
        <p>Titre - prix avec reduc</p>
      </div>
    </div>
  </body>
</html>
