<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Color 9</title>
    <link rel="stylesheet" href="style/style_accueil.css">
  </head>
  <body>
    <h1>Color 9</h1>
    <ul>
      <li><a href="#">Femme</a></li>
      <li><a href="#">Homme</a></li>
    </ul>
    <h2>Quelques idées de styles :</h2>

<marquee hspace="80%" align="center" height="130" scrolldelay="10" scrollamount="4" onmouseout="this.start()" onmouseover="this.stop()"> <p><img width="300" border="0" src="img/vetement/homme/tee/bleu.png" alt="" hspace="0"><img width="300" border="0" src="img/vetement/homme/chaussures/gris.png" alt="" hspace="0"><img width="300" border="0" src="img/vetement/homme/cravate/marron.png" alt="" hspace="0"></p></marquee>

    <div id="flexPromo">
      <h2>En ce moment :</h2>
      <div class="elemPromo">
        <img src="" alt="">
        <p>Titre - prix avec reduc</p>
      </div>
      <div class="elemPromo">
        <img src="" alt="">
        <p>Titre - prix avec reduc</p>
      </div>
      <div class="elemPromo">
        <img src="" alt="">
        <p>Titre - prix avec reduc</p>
      </div>
      <div class="elemPromo">
        <img src="" alt="">
        <p>Titre - prix avec reduc</p>
      </div>
    </div>
  </body>
</html>
